body {
    background-color: #1a1a3e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 500px;
    
}

.form-container {
    padding: 50px 40px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
}

h2{
    text-align: center;
    font-weight: bold;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-control {
    margin-bottom: 20px;
    font-size: 16px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button-container button:hover {
    background-color: #0052cc;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link-container a {
    color: #0066ff;
    text-decoration: none;
    font-size: 14px;
}

.link-container a:hover {
    text-decoration: underline;
}

.image-container {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay-logo img {
    width: 50%;
    max-width: 200px;
    height: auto;
}
